
{% extends 'base.html' %}

{% block title %}Analyze pcap_file{% endblock title %}

{% block header %}analyze page{% endblock header %}
{% load static %}

{% block content %}
<div class="container-upload-body page">
    <h1>Upload a PCAP File for Analysis</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="upload" type="file" name="pcap_file">
        <!-- <label id="upload-label" for="upload">Click me to upload a file</label> -->
        <button id="display" class="btn btn-light" type="submit">Display</button>
    </form>
    {% if traffic.length %}
    <h2>Analyzed Traffic</h2>
    <table id="table" class="table-row-spacing">
        <tr>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Destination IP</th>
            <th>Protocol</th>
            <th>Length</th>
        </tr>
    {% endif %}
        {% for traffic in traffic %}
            <tr>
                <td>{{ traffic.timestamp }}</td>
                <td>{{ traffic.src_ip }}</td>
                <td>{{ traffic.dst_ip }}</td>
                <td>{{ traffic.protocol }}</td>
                <td>{{ traffic.length }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
    {% endblock content %}
