{% extends 'base.html' %}

{% block title %}Contact - Network Packets{% endblock title %}

{% block header %}Contact Page{% endblock header %}
{% load static %}

{% block content %}
<div class="container-contact-body page">
<h1>Meet the Developers!</h1>

<div class="about-cards">
  <div class="card" style="width: 18rem;">
      <img src="{% static 'img/noimage.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jen Navarro</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, tempore?</p>
        <a href="https://github.com/jdnavarro2087/" class="btn btn-primary">GitHub</a>
        <a href="mailto:jdnavarro2087@gmail.com" class="btn btn-primary">Email</a>
      </div>
    </div>
  <div class="card" style="width: 18rem;">
      <img src="{% static 'img/IMG_3938.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Andrew Reyna</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, tempore?</p>
        <a href="https://github.com/1711ajreyna/" class="btn btn-primary">GitHub</a>
        <a href="mailto:1711ajreyna@gmail.com" class="btn btn-primary">Email</a>
      </div>
    </div>
  <div class="card" style="width: 18rem;">
      <img src="{% static 'img/noimage.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Thomas Marcello</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, tempore?</p>
        <a href="#" class="btn btn-primary">GitHub</a>
        <a href="mailto:Thomasmarcello@gmail.com" class="btn btn-primary">Email</a>
      </div>
    </div>
</div>
</div>
{% endblock content %}