{% extends 'base.html' %}

{% block title %}Home - Network Packets{% endblock title %}

{% block header %}Home Page{% endblock header %}
{% load static %}

{% block content %}
<div class="container-home-body page">
    <div class="image-container">
        <img src="{% static 'img/background1_home.jpg' %}" class="home-pic" alt="">
    </div>
    <div class="text-container">
        <p class="home-body-text">Pcap files (Packet Capture files) are a standard format for capturing and storing network traffic. These files contain raw network packets, including headers and payloads, that have been intercepted over a network. Tools like Wireshark or tcpdump are commonly used to capture and save these packets in pcap format.</p><br>
        <p class="home-body-text">IntruderAlert is a user-friendly web application designed to simplify the analysis of pcap files. Users can easily upload their pcap files through the website, which then automatically processes and extracts vital information such as timestamps, IP addresses, protocols, and payloads. The results are displayed in a clear, detailed format, making it easy to understand network traffic. Integrated with Intrusion Detection Systems (IDS), IntruderAlert provides real-time alerts for potential security threats, enabling quick responses to malicious activities. Additionally, users can review historical data to identify trends and conduct long-term forensics. Customizable and scalable, IntruderAlert caters to both small and large networks, enhancing users' ability to detect and respond to security threats effectively.</p>
    </div>
</div>
{% endblock content %}
